{% include "header.html" %}
{% from 'bootstrap5/form.html' import render_form %} <!-- INTRODUCES BOOTSTRAP-FLASK TO THE MIX -->

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/planets.jpg')">

  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Eye for Space</h1>
          <span class="subheading">Confirmed Planets</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="col-lg-8 mx-auto p-4 py-md-5">
  <h5 style="text-align: center;;font-weight:normal" >The source of this data is the NASA Exoplanet Archive, an online astronomical exoplanet and stellar catalog and data service that collates and cross-correlates astronomical data and information on exoplanets and their host stars. The archive is dedicated to collecting and serving important public data sets involved in the search for and characterization of extrasolar planets and their host stars.  All data in the Exoplanet Archive are vetted by a team of astronomers (team roster) and are linked back to the original literature reference.<br>(Source: https://exoplanetarchive.ipac.caltech.edu/docs/intro.html)</h5><br>
  <h5 style="font-weight:normal">{{ render_form(form) }} </h5>
  <br>
  <h5 style="font-weight:normal">{{ render_form(form_ss) }} </h5>

  <footer class="pt-5 my-5 text-body-secondary border-top">
    <p>{{ recognition_scope_specific }}</p>
    <p></p>
    <p>{{ recognition_web_template }}</p>
  </footer>
</div>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>


