{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %} <!-- INTRODUCES BOOTSTRAP-FLASK TO THE MIX -->
{% block title %}Login{% endblock %}
{% block content %}
        <div class="container">
			<h1>Login</h1>
			{{ render_form(form) }} <!-- REPLACES THE COMMENTED-OUT CODE BELOW, SINCE BOOTSTRAP-FLASk IS NOW INTRODUCED (VIA THE 2ND LINE AT TOP) -->,
<!--			<form method="POST" action="{{ url_for('login') }}" novalidate>-->
<!--				{{ form.csrf_token }}-->
<!--				<p>{{ form.text_email.label }} <br> {{ form.text_email(size=30) }}</p>-->
<!--				{% for err in form.text_email.errors %}-->
<!--				<span style="color: red">{{ err  }}<br></span>-->
<!--				{% endfor %}-->
<!--				<p>{{ form.text_password.label }} <br> {{ form.text_password(size=30) }}</p>-->
<!--				{% for err in form.text_password.errors %}-->
<!--				<span style="color: red">{{ err  }}<br></span>-->
<!--				{% endfor %}-->
<!--				<br>{{ form.button_login }}-->
<!--			</form>-->
        </div>
{% endblock %}